/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 30, 2016, 5:19:00 PM
    Author     : Kristian Recio
*/

.root {
    -fx-font-family: "Ariel";
    -fx-base: rgb(255, 255, 255);
    -fx-background: rgb(160, 160, 160);
}