/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 30, 2016, 5:54:30 PM
    Author     : Kristian Recio
*/

.root {
    -fx-font-family: "Kristen ITC";
    -fx-base: rgb(255, 170, 57);
    -fx-background: rgb(193, 128, 43);
}